.foot{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(28, 7, 151);
    color: white;
    text-align: left;
    padding: 10px;
}

.table{
    width: 100%;
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url('./BudgetPos.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 5%;
  }

.icon{
    width: 10%;
    height: 10%;
}