.payment-cards-container {
  display: flex;
  justify-content: center;
  gap: 2cm;
  margin-top: 2cm;
}

.payment-card {
  border: 1px solid #ccc;
  padding: 1.5em;
  width: 300px;
  text-align: center;
  background-color: rgb(247, 239, 236);

}

.card-title {
  margin-top: 0;
}

.card-description {
  font-size: 0.8em;
  color: #666;
}

.card-button {
  margin-top: 1em;
  padding: 0.5em 1em;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
