.discard-card {
    width: 300px;
    background-color: #f8f8f8;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
  }
  
  .discard-card-header {
    text-align: center;
  }
  
  .discard-card-body {
    margin: 10px 0;
  }
  
  .discard-card-footer {
    display: flex;
    justify-content: space-between;
  }
  
  .keep-editing-btn,
  .discard-btn {
    background-color: #1abc9c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .keep-editing-btn:hover,
  .discard-btn:hover {
    background-color: #16a085;
  }
  